*
body
{
	background-image: url(https://www.airtel.com.ng/assets/images/ng/innerpages/contactus-banner.png); 
	background-position: center;
	background-size: contain;
	height: 100vh;
	width: 100vh;
	font-family: "Roboto" ,Sans Serif;
	font-size: 30px;
	font: "Roboto",Sans Serif;
	align-content: center;


}